@using EShop.Models;

@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Products List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="create" class="btn btn-info">&nbsp;Add New Product</a>
    </div>
</div>
<br />
<div>
    <table class="table table-dark table-striped border text-white">
        <tr class="table-info">
            <th class="text-black-50">
                @Html.DisplayNameFor(c => c.Name)
            </th>
            <th class="text-black-50">
                @Html.DisplayNameFor(c => c.Price)
            </th>
            <th class="text-black-50">
                @Html.DisplayNameFor(c => c.Color)
            </th>
            <th class="text-black-50">
                @Html.DisplayNameFor(c => c.IsAvailable)
            </th>
            <th class="text-black-50">
                @Html.DisplayNameFor(c => c.CategoryId)
            </th>
            <th class="text-black-50">
                @Html.DisplayNameFor(c=>c.ProductTagId)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>@item.Color</td>
        <td>@item.IsAvailable</td>
        <td>@item.Categories.Category</td>
        <td>@item.ProductTags.Name</td>
        <td>
            <partial name="_ButtonPartial" model="@item.Id" />
        </td>
    </tr>
        }
    </table>
</div>